doctype html
html(lang='en')  
  head  
    title= title  

    style
      include dummy.css

  body
    #container
      canvas#canvas HTML5 Canvas not supported.

    script(type="text/javascript").
      var SCREEN_PORT = #{screen_port};
      var DEBUG = #{jsdebug};
      var JSONRPC_PROTOCOL = "#{jsonrpc_protocol}"
      var CONTROLLER = '#{controller}';


    script(type="text/javascript" src="/jquery/jquery.min.js")

    script(type="text/javascript" src="/javascript/common/log.js")
    script(type="text/javascript" src="/javascript/common/sendServerMessage.js")
    script(type="text/javascript" src="/engine.io/engine.io.js")

    script(type="text/javascript" src="/javascript/game/Player.js")
    script(type="text/javascript" src="/javascript/game/Controller.js")
    script(type="text/javascript" src="/javascript/game/ControllerHub.js")

    script(type="text/javascript" src="/javascript/common/ConnectionWebsocket.js")
    script(type="text/javascript" src="/javascript/common/PeliRPC.js")

    script(type="text/javascript" src="/javascript/graphics2d/crosshair.js")
    script(type="text/javascript" src="/javascript/graphics2d/fpsDisplay.js")
    script(type="text/javascript" src="/javascript/graphics2d/rpsDisplay.js")
    script(type="text/javascript" src="/javascript/graphics2d/playerPerformance.js")
    script(type="text/javascript" src="/javascript/graphics2d/chartThingy.js")

    script(type="text/javascript" src="/javascript/game/dummy/dummy.js")

    script(type="text/javascript" src="/javascript/rendering/math/Interpolator.js")
    script(type="text/javascript" src="/javascript/rendering/math/Vector2.js")
